
.buyButton {
    background-color: #27c695;
    color: white;
    border: 1px solid #27c695;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s;
}

button:hover {
    background-color: white;
    color: #27c695;
}

.card {
    background-color: white;
    margin: 10px;
    width: 300px;
}

.card img {
    max-width: 100%;
    height: 120px;
    margin: 10px;

}

.card input {
    text-align: center;
    font-size: 1rem;
    width: 20%;
    height: 15%;
    border-radius: 10px;
    border: 1px solid #27c695;
    margin-left: 10px;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
}

.money {
    font-weight: 500;
    margin: 1rem 0;
    background-color: #27c681;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
}

div {
    background-color: #f1f2f6;
}

.sellButton {
    background-color: #EF0B2B;
    border: 1px solid #DF4C64;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s;
}

.quantity {
    padding: 8px;
    margin: 10px;
}